<ion-header [translucent]="true">
  <ion-toolbar>
   

    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>

    <ion-title>ForUs</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ForUs</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button class="ion-text-wrap" style="max-width: 400px" routerLink="/home">Home</ion-button>

</ion-content>
